<div class="container">
    <div class="image-card">
        <img src="profile.png" alt="profile">
    </div>
    <div class="profile-presentation">
        <h1>Hello</h1>
        <strong>Presentation</strong>
        <div class="button-box">
            <button (click)="onResume()">CV</button>
            <button (click)="onProject()">Projets</button>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quod praesentium non, unde odit nostrum voluptates aliquid voluptate consectetur sunt temporibus minima nulla eaque esse ad consequatur doloribus tempore reprehenderit.
        </p>
    </div>
</div>
