:host {
    display: block; 
    height: 80vh;
    background: linear-gradient(to right, #333 40%, white 0%);
}
.container {
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 5px;
    img{
        width: 80%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
    .profile-presentation {
        width: 50%;
    }
    .button-box {
        margin-top: 10px;
        padding: 5px;
    }
}