<div class="container">
    <img src="resume.jpg" alt="">
    <div class="contenu">
        <div class="resume-header">
            <h1>CV</h1>
            <button (click)="onDownloadCV()">Télécharger le CV</button>
        </div>
        <h2>Education</h2>
        @for(resumeCard of resumeCards; track resumeCard.id) {
            @if(resumeCard.section === 'education') {
                <app-resume-card [resumeCard]="resumeCard"/>
            }
        }
        <h2>Experience</h2>
        @for(resumeCard of resumeCards; track resumeCard.id) {
            @if(resumeCard.section === 'experience') {
                <app-resume-card [resumeCard]="resumeCard"/>
            }
        }
        <h2>Certification</h2>
        @for(resumeCard of resumeCards; track resumeCard.id) {
            @if(resumeCard.section === 'certification') {
                <app-resume-card [resumeCard]="resumeCard"/>
            }
        }
        <div class="other">
            <div class="hardskills">
        
            </div>
            <div class="softskills">
        
            </div>
            <div class="languages">
        
            </div>
            <div class="interests">
        
            </div>
            <div class="associations">
        
            </div>
        </div>
    </div>
</div>

