:host {
    display: block; 
    min-height: 80vh;
    background-color: #333;
}

.container {
    display: flex;
    align-items: center;
    width: 70%;
    .contenu {
        width: 50%;
    }
    img{
        width: 50%;
        scale: 35%;
        border-radius: 30%;
    }
    .resume-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        color: aqua;
    }
}