<h1>Contactez moi</h1>
<form action="POST">
    <div class="name">
        <div>
            <label for="lastname">Prenom*</label>
            <input type="text" name="lastname" id="lastname" required>
        </div>
        <div>
            <label for="firstname">Nom*</label>
            <input type="text" name="firstname" id="firstname" required>
        </div>
    </div>
    <div>
        <label for="email">Email*</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="object">Objet</label>
        <input type="text" name="object" id="objcet">
    </div>
    <div>
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
    </div>
    <input type="button" name="send" id="send" value="Envoyer">
</form>
