<footer [ngClass]="{show: isFooterVIsible}">
    <span>Realisé avec ❤️ par Stefy237</span> 
    <div class="container">
        <div class="element">
            <strong>Appel</strong>
            <em>(+33)0751005417</em>
        </div>
        <div class="element">
            <strong>Email</strong>
            <em>ngueganglaura&#64;gmail.com</em>
        </div>
        <div class="element">
            <strong>Réseau</strong>
            <div class="container">
                <a href="https://github.com/Stefy237/"></a>
                <a href="https://www.linkedin.com/in/nguegang-laura-ab0a2b266/"></a>
            </div>
        </div>
    </div>
</footer>