:host {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    
}

footer, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.element {
    margin: 20px;
    padding: 10px;
}

strong {
    display: block;
}
  
footer.show {
    opacity: 1; 
    visibility: visible;
}